#landing {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: red;
}

#about {
  position: relative;
  width: 100%;
  height: 80vh;
  padding-top: 60px;
  display: flex;
}

#work {
  position: relative;
  width: 100%;
  min-height: 80vh;
}

#contact {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: grey;
}

.main-container {
  max-width: 1100px;
  padding: 0 180px;
  margin: 0 auto;
  overflow-x: hidden;
}

.about-image-container {
  min-width: 420px;
  height: 526px;
  background: grey;
  margin: 0 48px;
  border-radius: 18px;
}

.about-text-container {
  width: 550px;
}

.about-stylish-text {
  position: absolute;
  bottom: 0px;
  right: -200px;
  font-size: 180px;
  font-weight: 700;
  opacity: 10%;
  white-space: nowrap;
}

.work-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". item1"
    "item2 item1"
    "item2 item3"
    "item4 item3"
    "item4 .";
  gap: 5px 5px;
}

.work-grid-item-1 {
  background: lightcoral;
  grid-area: item1;
  height: 360px;
}

.work-grid-item-2 {
  background: orange;
  grid-area: item2;
  height: 360px;
}

.work-grid-item-3 {
  background: lime;
  grid-area: item3;
  height: 360px;
}

.work-grid-item-4 {
  background: slateblue;
  grid-area: item4;
  height: 360px;
}
