.work-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". item1"
    "item2 item1"
    "item2 item3"
    "item4 item3"
    "item4 .";
  gap: 5px 5px;
}

.work-grid-item-1 {
  background: lightcoral;
  grid-area: item1;
  height: 360px;
}

.work-grid-item-2 {
  background: orange;
  grid-area: item2;
  height: 360px;
}

.work-grid-item-3 {
  background: lime;
  grid-area: item3;
  height: 360px;
}

.work-grid-item-4 {
  background: slateblue;
  grid-area: item4;
  height: 360px;
}
